In [3]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.5.2-cp39-cp39-macosx_11_0_arm64.whl (10.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.9/10.9 MB 11.2 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/parkdahye/opt/miniconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.6-py2.py3-none-any.whl (498 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 498.1/498.1 kB 8.2 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: numpy>=1.20.3 in /Users/parkdahye/opt/miniconda3/lib/python3.9/site-packages (from pandas) (1.23.4)
Requirement already satisfied: six>=1.5 in /Users/parkdahye/opt/miniconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.5.2 pytz-2022.6

In [1]:
import pandas as pd

ImportError: Unable to import required dependencies:
numpy:

IMPORTANT: PLEASE READ THIS FOR ADVICE ON HOW TO SOLVE THIS ISSUE!

Importing the numpy C-extensions failed. This error can happen for
many reasons, often due to issues with your setup or how NumPy was
installed.

We have compiled some common reasons and troubleshooting tips at:

    https://numpy.org/devdocs/user/troubleshooting-importerror.html

Please note and check the following:

  * The Python version is: Python3.9 from "/Users/parkdahye/opt/miniconda3/bin/python"
  * The NumPy version is: "1.23.5"

and make sure that they are the versions you expect.
Please carefully study the documentation linked above for further help.

Original error was: dlopen(/Users/parkdahye/opt/miniconda3/lib/python3.9/site-packages/numpy/core/_multiarray_umath.cpython-39-darwin.so, 0x0002): Library not loaded: @rpath/libcblas.3.dylib
  Referenced from: /Users/parkdahye/opt/miniconda3/lib/python3.9/site-packages/numpy/core/_multiarray_umath.cpython-39-darwin.so
  Reason: tried: '/Users/parkdahye/opt/miniconda3/lib/python3.9/site-packages/numpy/core/../../../../libcblas.3.dylib' (no such file), '/Users/parkdahye/opt/miniconda3/lib/python3.9/site-packages/numpy/core/../../../../libcblas.3.dylib' (no such file), '/Users/parkdahye/opt/miniconda3/bin/../lib/libcblas.3.dylib' (no such file), '/Users/parkdahye/opt/miniconda3/bin/../lib/libcblas.3.dylib' (no such file), '/usr/local/lib/libcblas.3.dylib' (no such file), '/usr/lib/libcblas.3.dylib' (no such file)

In [ ]:
df = pd.read_csv('서울시 우리마을가게 상권분석서비스(상권-추정매출).csv', encoding='cp949')
df

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,15623999,130,...,0,0,130,0,0,0,0,0,130,6
1,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,8761157030,5252,...,0,1928,3218,0,35,323,1117,1568,2102,6
2,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,1002103834,19369,...,667,7517,10367,287,4923,6172,3849,1886,766,5
3,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300026,완구,290779648,2242,...,0,1483,730,30,560,647,742,116,120,6
4,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300024,운동/경기용품,1594646019,2204,...,0,1564,492,0,0,43,278,429,1305,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68863,2022,1,A,골목상권,2110001,이북5도청사,CS200001,일반교습학원,46710839,136,...,0,96,40,0,0,0,120,16,0,3
68864,2022,1,A,골목상권,2110001,이북5도청사,CS100010,커피-음료,20931521,2018,...,0,955,1009,0,382,342,380,581,279,*
68865,2022,1,A,골목상권,2110001,이북5도청사,CS100009,호프-간이주점,5119924,159,...,18,115,18,0,0,18,18,54,44,*
68866,2022,1,A,골목상권,2110001,이북5도청사,CS100008,분식전문점,92420017,10197,...,0,5872,3689,26,401,1191,2273,3093,2576,3
68867,2022,1,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,681810073,26389,...,98,15940,7749,110,926,2092,4267,7202,9093,11

In [ ]:
df.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '분기당_매출_금액', '분기당_매출_건수', '주중_매출_비율',
       '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
       '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'],
      dtype='object')

In [ ]:
len(df['상권_코드'].unique())

1650

In [ ]:
df2 = pd.read_csv('서울시 우리마을가게 상권분석서비스(상권영역).csv', encoding='cp949')
df2

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보
0,202112,A,골목상권,2110753,시흥동 은행나무사거리,191934,438813,11545,11545710,NaN
1,202112,A,골목상권,2110427,노원 을지대학교병원,206265,459431,11350,11350611,NaN
2,202112,A,골목상권,2110755,동일여자고등학교,192300,439070,11545,11545680,NaN
3,202112,A,골목상권,2110739,시흥3동 우편취급국,191289,438014,11545,11545690,NaN
4,202112,A,골목상권,2111017,송파나루역 3번,210222,445516,11710,11710562,NaN
...,...,...,...,...,...,...,...,...,...,...
1666,202112,U,관광특구,1001493,동대문패션타운 관광특구,200974,451975,11140,11140590,NaN
1667,202112,U,관광특구,1001494,종로?청계 관광특구,199768,452273,11110,11110615,NaN
1668,202112,U,관광특구,1001495,잠실 관광특구,210191,446339,11710,11710566,NaN
1669,202112,U,관광특구,1001496,강남 마이스 관광특구,205310,445727,11680,11680580,NaN
1670,202112,U,관광특구,1001491,이태원 관광특구,199503,448326,11170,11170650,NaN

In [ ]:
df_code = list(df['상권_코드'].unique())
df2_code = list(df2['상권_코드'].unique())

In [ ]:
k = 0
for i in df_code:
    if i not in df2_code:
        print(i)
        k+=1
print(k)

0

__

In [2]:
상권 = list(df['상권_코드_명'].unique())
len(상권)

NameError: name 'df' is not defined

In [3]:
len(df2['상권_코드'].unique())

NameError: name 'df2' is not defined

In [4]:
df.columns

NameError: name 'df' is not defined

In [5]:
df2.columns

NameError: name 'df2' is not defined

In [6]:
df3 = df.merge(df2, how='left', on= '상권_코드')

df3.head()

NameError: name 'df' is not defined

In [7]:
!pip install pyproj

Requirement already satisfied: pyproj in /Users/parkdahye/opt/miniconda3/lib/python3.9/site-packages (3.4.1)
Requirement already satisfied: certifi in /Users/parkdahye/opt/miniconda3/lib/python3.9/site-packages (from pyproj) (2022.9.24)

### 좌표계 변환해주기

In [8]:
import pyproj
import numpy as np

def project_array(coord, p1_type, p2_type):
    """
    좌표계 변환 함수
    - coord: x, y 좌표 정보가 담긴 NumPy Array
    - p1_type: 입력 좌표계 정보 ex) epsg:5179
    - p2_type: 출력 좌표계 정보 ex) epsg:4326
    """
    p1 = pyproj.Proj(init=p1_type)
    p2 = pyproj.Proj(init=p2_type)
    fx, fy = pyproj.transform(p1, p2, coord[:, 0], coord[:, 1])
    return np.dstack([fx, fy])[0]

ImportError:

IMPORTANT: PLEASE READ THIS FOR ADVICE ON HOW TO SOLVE THIS ISSUE!

Importing the numpy C-extensions failed. This error can happen for
many reasons, often due to issues with your setup or how NumPy was
installed.

We have compiled some common reasons and troubleshooting tips at:

    https://numpy.org/devdocs/user/troubleshooting-importerror.html

Please note and check the following:

  * The Python version is: Python3.9 from "/Users/parkdahye/opt/miniconda3/bin/python"
  * The NumPy version is: "1.23.5"

and make sure that they are the versions you expect.
Please carefully study the documentation linked above for further help.

Original error was: dlopen(/Users/parkdahye/opt/miniconda3/lib/python3.9/site-packages/numpy/core/_multiarray_umath.cpython-39-darwin.so, 0x0002): Library not loaded: @rpath/libcblas.3.dylib
  Referenced from: /Users/parkdahye/opt/miniconda3/lib/python3.9/site-packages/numpy/core/_multiarray_umath.cpython-39-darwin.so
  Reason: tried: '/Users/parkdahye/opt/miniconda3/lib/python3.9/site-packages/numpy/core/../../../../libcblas.3.dylib' (no such file), '/Users/parkdahye/opt/miniconda3/lib/python3.9/site-packages/numpy/core/../../../../libcblas.3.dylib' (no such file), '/Users/parkdahye/opt/miniconda3/bin/../lib/libcblas.3.dylib' (no such file), '/Users/parkdahye/opt/miniconda3/bin/../lib/libcblas.3.dylib' (no such file), '/usr/local/lib/libcblas.3.dylib' (no such file), '/usr/lib/libcblas.3.dylib' (no such file)

In [ ]:
geo = df3[['엑스좌표_값', '와이좌표_값']]
geo

       엑스좌표_값  와이좌표_값
0      205310  445727
1      205310  445727
2      205310  445727
3      205310  445727
4      205310  445727
...       ...     ...
68863  196193  456641
68864  196193  456641
68865  196193  456641
68866  196193  456641
68867  196193  456641

[68868 rows x 2 columns]

In [9]:
geo['엑스좌표_값'] = pd.to_numeric(geo['엑스좌표_값'], errors="coerce")
geo['와이좌표_값'] = pd.to_numeric(geo['와이좌표_값'], errors="coerce")

geo = geo.dropna()
geo.index=range(len(geo))
geo.tail()

NameError: name 'pd' is not defined

In [ ]:
# DataFrame -> NumPy Array 변환
coord = np.array(geo)
coord

array([[205310, 445727],
       [205310, 445727],
       [205310, 445727],
       ...,
       [196193, 456641],
       [196193, 456641],
       [196193, 456641]])

In [10]:
# 좌표계 정보 설정EPSG5181
p1_type = "epsg:5181"
p2_type = "epsg:4326"

# project_array() 함수 실행
result = project_array(coord, p1_type, p2_type)
result

NameError: name 'project_array' is not defined

In [20]:
df3['경도'] = result[:, 0]
df3['위도'] = result[:, 1]

In [21]:
df3.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드_x,상권_구분_코드_명_x,상권_코드,상권_코드_명_x,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,상권_구분_코드_y,상권_구분_코드_명_y,상권_코드_명_y,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보,경도,위도
0,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,15623999,130,...,U,관광특구,강남 마이스 관광특구,205310,445727,11680,11680580,NaN,127.060059,37.511003
1,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,8761157030,5252,...,U,관광특구,강남 마이스 관광특구,205310,445727,11680,11680580,NaN,127.060059,37.511003
2,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,1002103834,19369,...,U,관광특구,강남 마이스 관광특구,205310,445727,11680,11680580,NaN,127.060059,37.511003
3,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300026,완구,290779648,2242,...,U,관광특구,강남 마이스 관광특구,205310,445727,11680,11680580,NaN,127.060059,37.511003
4,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300024,운동/경기용품,1594646019,2204,...,U,관광특구,강남 마이스 관광특구,205310,445727,11680,11680580,NaN,127.060059,37.511003

In [16]:
! pip install geopy

Requirement already satisfied: geopy in /Users/parkdahye/opt/miniconda3/lib/python3.9/site-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /Users/parkdahye/opt/miniconda3/lib/python3.9/site-packages (from geopy) (2.0)

In [30]:
x = df3.loc[0, '위도'] 
y = df3.loc[0, '경도'] 
print(x, y)

37.511002913176945 127.06005939988393

In [105]:
# 가입 없이 좌표->주소 변환
from geopy.geocoders import Nominatim

def geocoding_reverse(lat, lng): 
    geolocoder = Nominatim(user_agent = 'South Korea', timeout=None)
    lat_lng_str = str(lat) + ', ' + str(lng) 
    address = geolocoder.reverse(lat_lng_str)

    return address


def geocoding_reverse_str(lat_lng_str): 
    geolocoder = Nominatim(user_agent = 'South Korea', timeout=None)
    address = geolocoder.reverse(lat_lng_str)

    return address

# address = geocoding_reverse('36.5760732781656, 128.15935928504484')
# print(address)

In [31]:
# 카카오API를 사용하여 좌표->주소 변환
import requests, json, pprint

def get_address_str(latlng):
    lat = latlng.split(', ')[0]
    lng = latlng.split(', ')[1]
    url = "https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x="+lng+"&y="+lat
    # 'KaKaoAK '는 그대로 두시고 개인키만 지우고 입력해 주세요.
    # ex) KakaoAK 6af8d4826f0e56c54bc794fa8a294
    headers = {"Authorization": "KakaoAK 2931a196f8f4c4b420c8fc087ebb7607"}
    api_json = requests.get(url, headers=headers)
    full_address = json.loads(api_json.text)
    sigungu  =  full_address['documents'][0]['region_2depth_name']

    return sigungu


def get_address(lat, lng):
    url = "https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x="+lng+"&y="+lat
    # 'KaKaoAK '는 그대로 두시고 개인키만 지우고 입력해 주세요.
    # ex) KakaoAK 6af8d4826f0e56c54bc794fa8a294
    headers = {"Authorization": "KakaoAK 2931a196f8f4c4b420c8fc087ebb7607"}
    api_json = requests.get(url, headers=headers)
    full_address = json.loads(api_json.text)
    sigungu  =  full_address['documents'][0]['region_2depth_name']

    return sigungu

# full_address = get_address('36.5760732781656', '128.15935928504484')
# pprint.pprint(full_address)
# full_address['documents'][0]['region_2depth_name']

get_address('36.5760732781656', '128.15935928504484')
get_address_str(str(x)+', '+str(y))

'강남구'

In [32]:
df_tem = df3[['위도', '경도']]
df_tem

              위도          경도
0      37.511003  127.060059
1      37.511003  127.060059
2      37.511003  127.060059
3      37.511003  127.060059
4      37.511003  127.060059
...          ...         ...
68863  37.609345  126.956884
68864  37.609345  126.956884
68865  37.609345  126.956884
68866  37.609345  126.956884
68867  37.609345  126.956884

[68868 rows x 2 columns]

In [33]:
df_tem['위도'] = df_tem['위도'].astype(object)
df_tem['경도'] = df_tem['경도'].astype(object)

/var/folders/g8/bg0h24y523q9pwn2yvvhsc900000gn/T/ipykernel_2207/3626235792.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tem['위도'] = df_tem['위도'].astype(object)
/var/folders/g8/bg0h24y523q9pwn2yvvhsc900000gn/T/ipykernel_2207/3626235792.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tem['경도'] = df_tem['경도'].astype(object)

In [34]:
df_tem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68868 entries, 0 to 68867
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   위도      68868 non-null  object
 1   경도      68868 non-null  object
dtypes: object(2)
memory usage: 3.6+ MB

In [35]:
def strplus(a, b):
    re = str(a) + ', ' + str(b)
    return re

In [36]:
df_tem['위도경도'] = df_tem.apply(lambda x : strplus(x['위도'], x['경도']), axis=1)

/var/folders/g8/bg0h24y523q9pwn2yvvhsc900000gn/T/ipykernel_2207/3824574207.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tem['위도경도'] = df_tem.apply(lambda x : strplus(x['위도'], x['경도']), axis=1)

In [37]:
lanlon = df_tem['위도경도'].unique()
lanlon

array(['37.511002913176945, 127.06005939988393',
       '37.51647607488473, 127.11527494608232',
       '37.56999760824763, 126.9973738673892', ...,
       '37.575540011184756, 126.95720897970612',
       '37.609345109665576, 126.95688383119668',
       '37.569610190233455, 126.9978719380448'], dtype=object)

In [38]:
lanlon_df = pd.DataFrame()
lanlon_df['위도경도'] = lanlon

In [39]:
lanlon_df

                                        위도경도
0     37.511002913176945, 127.06005939988393
1      37.51647607488473, 127.11527494608232
2       37.56999760824763, 126.9973738673892
3      37.567312155725965, 127.0110248333143
4     37.564148780123666, 126.98185620077636
...                                      ...
1645   37.57328868813124, 126.96054967804893
1646  37.604489459823775, 126.95880051845464
1647  37.575540011184756, 126.95720897970612
1648  37.609345109665576, 126.95688383119668
1649   37.569610190233455, 126.9978719380448

[1650 rows x 1 columns]

In [48]:
# df_e = df3.head()
# df_e['주소'] = df_e.apply(lambda x: geocoding_reverse(x['위도'], x['경도'])[0], axis=1)

NameError: name 'geocoding_reverse' is not defined

In [112]:
# %%time

# lanlon_df.head().apply(lambda x : geocoding_reverse_str(x['위도경도']), axis=1)

CPU times: user 74.6 ms, sys: 27.9 ms, total: 102 ms
Wall time: 2.56 s

0    (코엑스, 삼성로100길, 삼성동, 강남구, 서울, 06164, 대한민국, (37....
1    (한성백제역 1번출구, 위례성대로, 방이2동, 송파구, 서울, 05627, 대한민국...
2    (창경궁로11길, 종로3가, 종로1·2·3·4가동, 종로구, 서울, 03194, 대...
3    (서울성곽, 마장로, 동대문패션타운, 신당동, 중구, 서울, 04563, 대한민국,...
4    (롯데화랑, Myeongdong Underground Shopping Center,...
dtype: object

In [119]:
# lanlon_df['주소'] = lanlon_df.apply(lambda x : geocoding_reverse_str(x['위도경도'])[0], axis=1)

In [50]:
def strplus(a, b):
    re = str(a) + ', ' + str(b)
    return re

df3['위도경도'] = df3.apply(lambda x : strplus(x['위도'], x['경도']), axis=1)

In [49]:
lanlon_df.head().apply(lambda x : get_address_str(x['위도경도']), axis=1)

0    강남구
1    송파구
2    종로구
3     중구
4     중구
dtype: object

In [47]:
# 지오코딩 실행시간 계산

print((1650 / 5 ) * 2.6 / 60)

# 카카오 api 실행시간 계산

print((1650 / 5 ) * 0.5 / 60)

14.3
2.75

In [51]:
lanlon_df['시군구'] = lanlon_df.apply(lambda x : get_address_str(x['위도경도']), axis=1)

In [52]:
df4 = df3.merge(lanlon_df, how='left', on = '위도경도')

In [53]:
df4.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드_x', '상권_구분_코드_명_x', '상권_코드',
       '상권_코드_명_x', '서비스_업종_코드', '서비스_업종_코드_명', '분기당_매출_금액', '분기당_매출_건수',
       '주중_매출_비율', '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율',
       '목요일_매출_비율', '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수', '기준_년월_코드', '상권_구분_코드_y',
       '상권_구분_코드_명_y', '상권_코드_명_y', '엑스좌표_값', '와이좌표_값', '시군구_코드', '행정동_코드',
       '형태정보', '경도', '위도', '위도경도', '시군구'],
      dtype='object')

In [54]:
df4 = df4[['기준_년_코드', '기준_분기_코드', '상권_구분_코드_명_x',  '서비스_업종_코드', '서비스_업종_코드_명', '분기당_매출_금액', '분기당_매출_건수',
       '주중_매출_비율', '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율',
       '목요일_매출_비율', '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수', '기준_년월_코드',
       '시군구']]

In [151]:
# lanlon_df['주소'].str.split(', ')[75]

['영등포전통시장', '영중로22길', '영등포동', '영등포구', '서울', '07250', '대한민국']

In [158]:
# df4['시군구'] = df4.apply(lambda x : [a for a in x['주소'].split(', ') if a.endswith('구')] , axis=1)

/var/folders/g8/bg0h24y523q9pwn2yvvhsc900000gn/T/ipykernel_76554/3249478069.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['시군구'] = df4.apply(lambda x : [a for a in x['주소'].split(', ') if a.endswith('구')] , axis=1)

In [56]:
df4['시군구'].value_counts()

강남구     4811
송파구     3758
강서구     3210
영등포구    3202
마포구     3158
관악구     3062
강동구     2986
은평구     2949
서초구     2898
성북구     2822
중랑구     2761
동대문구    2752
중구      2743
광진구     2725
구로구     2623
양천구     2593
종로구     2514
강북구     2393
동작구     2310
용산구     2248
서대문구    2208
성동구     2131
노원구     2049
금천구     2016
도봉구     1946
Name: 시군구, dtype: int64

In [57]:
df4['시군구'].unique()

array(['강남구', '송파구', '종로구', '중구', '용산구', '강동구', '서초구', '관악구', '동작구',
       '영등포구', '금천구', '구로구', '강서구', '양천구', '마포구', '서대문구', '은평구', '노원구',
       '도봉구', '강북구', '성북구', '중랑구', '동대문구', '광진구', '성동구'], dtype=object)

In [145]:
# df4['시군구'].value_counts()

서울              32098
강남구              2260
송파구              1718
중구               1527
서초구              1524
                ...
신사1동                7
03114               6
신림 주공아파트 2단지        5
02560               4
내곡동                 2
Name: 시군구, Length: 196, dtype: int64

In [ ]:
df4.to_csv('서울시 상권분석 데이터 매출_시군구.csv', index=False)